<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление User'а в таблицу</title>
</head>
<body>

<form method="POST" action="./add-user-success-page">
    <label for="name">Name</label>
    <input name="name" type="text" id="name">
    <br>
    <label for="lastName">Фамилия</label>
    <input name="lastName" type="text" id="lastName">
    <br>
    <label for="email">Эл. почта</label>
    <input name="email" type="text" id="email">
    <br>
    <input type="submit" value="Добавить пользователя">
</form>

</body>
</html>