<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>email</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>
    <tr th:each="user : ${allUsers}">

        <td th:utext="${user.getId()}">...</td>
        <td th:utext="${user.getName()}">...</td>
        <td th:utext="${user.getLastName()}">...</td>
        <td th:utext="${user.getEmail()}">...</td>

        <td>
            <button th:href="@{update-user(id=${user.getId()}, name=${user.getName()}, lastName=${user.getLastName()}, email=${user.getEmail()})}"
                    onclick="window.location.href=(this.getAttribute('href'))">Изменить
            </button>
        </td>
        <td>
            <button th:href="@{delete-user-by-ID(id=${user.getId()})}"
                    onclick="window.location.href=(this.getAttribute('href'))">Удалить
            </button>
        </td>

    </tr>
</table>

<a href="add-user">
    <button>Добавить пользователя</button>
</a>

</body>
</html>